.card-content input {
  width: 350px;
  display: block;
  margin: 20px;
  border-radius: 4px;
}
.card-content button {
  border-radius: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
  color: black;
}
.card-title {
  font-weight: bold;
}
.card-action button {
  border-radius: 4px;
  margin-left: 75px;
  margin-right: 120px;
  font-weight: bold;
  width: 250px;
  color: black;
}
.card-action h6 {
  color: white;
  font-weight: bold;
}
